*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    width: 300px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
#cima{
    display: flex;
}
ul{
    display: block;
}

li{
    list-style-type: none;
}
